@font-face {
    font-family: "armata";
    src: url(../assets/fonts/Armata/Armata-Regular.ttf); }
  
@font-face {
    font-family: "milks";
    src: url(../assets/fonts/Milks/tt-milks-casual-pie-inline.ttf); }
  
@font-face {
    font-family: "engle";
    src: url(../assets/fonts/Englebert/Englebert.ttf); }
  
* {
    margin: 0;
    padding: 0; 
}

body{
    height: 100vh;
}


/* HEADER */

header{
    height: 20vh;
}

.tituloSitio{
    font-family: "milks";
    color: #1895cf;
    font-size: 96px;
    font-weight: lighter;
    text-align: center;
}

a:link, :visited, :active{
    text-decoration: none; 
}

#logoIg{
    height: 35px;
    width: 35px;
}

#logoFb{
    height: 35px;
    width: 35px;
}    

#logoTw{ 
    height: 35px;
    width: 35px;
    grid-area: tw;
    align-self: start; 
}

#botonLogin{
    width: 150px;
    height:40px;
    border-radius: 14px;
    background-color: white;
    border: #1895cf solid 3px;
    font-family: "armata";
    font-weight: bold;
    }

#botonLogin a{
    color: black;
}

#botonLogin:hover{
        background-color: #1895cf;
        color: white !important;
    }

#botonLogin a:hover{
    color: white;
}

#botonRegistro{
    width: 150px;
    height:40px;
    color: black;
    border-radius: 14px;
    background-color: white;
    border: #1895cf solid 3px;
    font-family: "armata";
    font-weight: bold;
}

#botonRegistro a{
    color: black;
}

#botonRegistro:hover{
    background-color: #1895cf;
    color: white !important;
}

#botonRegistro a:hover{
    color: white;
}


/* NAV */

nav{
    background-color: #1895cf;
    height: 10vh;
    justify-content: center !important;
}

.navbar{
    --bs-navbar-nav-link-padding-x: 64px !important;
}

.nav-link{
    color: white !important;
    font-weight: bolder !important;
    font-family: "armata" !important;
    font-size: 26px !important;
}

.btn{
    color: white !important;
    font-family: "armata" !important;
    font-weight: bold !important;
    font-size: 22px !important;
}

.form-control{
    border-radius: 17px !important;
    height: 40px !important;
}


/* MAIN */

.card-title{
    font-family: "armata" !important;
    font-weight: bolder;
    font-size: 23px !important;
}

.card-text{
    font-family: "armata" !important;
    font-weight: 500;
    font-size: 18px !important;
}

iframe{
    width: 399px;
    height: 249px;
    border-radius: 10px;
}


#portadaDeFotos{
    width: 375px;
    height: 249px;
    border-radius: 10px;
}

.picSpider{
    background-image: url(../assets/imagenes/wallStars.webp);
}

#spiderManPortada{
    width: 500px;
    height: 500px;
    translate: 300px;
}

.slogan{
    color: black;
    font-family: "milks";
    font-size: 45px;
    translate: -200px;
}


/* FOOTER */

footer{
    background-color: #1895cf;
    color: white;
    height: 10vh;
    font-family: "armata";
    font-size: 30px;
    font-weight: bold;
}
